.btn-primary {
    color: #fff;
    background-color: $secondary-color;
    padding: 5%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 1px solid $secondary-color;
}

.btn-primary:hover {
    background: transparent;
    border: 1px solid $secondary-color;
}


@media all and (min-width: 667px) {
    .home-btn {
        padding: 2%;
        margin-top: 10px;
    }
}

@media all and (min-width: 1280px) {
    .home-btn {
        padding: 1%;
        margin-top: 10px;
    }
}