.btn-primary {
    color: #fff;
    background-color: $secondary-color;
    padding: 5%;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}


@media all and (min-width: 667px) {
    .home-btn {
        padding: 2%;
        margin-top: 10px;
    }
}

@media all and (min-width: 1280px) {
    .home-btn {
        padding: 1%;
        margin-top: 10px;
    }
}