@import "colors";

html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $primary-color;
}

.nav {
  background-color: #fff;
  height: 10%;
}

.nav-active {
  height: 300px;
  font-weight: bold;
}

.menu {
  display: none;
}

.menu-active {
  display: flex;
  position: absolute;

}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-div {
  margin: 2%;
}

.nav-div:nth-child(1) {
  flex-grow: 2;
}

.h2-logo {
  color: #000;
}

.span-logo {
  color: $secondary-color;
}

.nav-div > span {
  font-size: 1.75rem;
  cursor: pointer;
  margin-top: 1.25rem;
}

.menu > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu > ul > li {
  margin-top: 10px;
}

.menu > ul > li > a{
  text-decoration: none;
  color: #000;
}