@import "colors";
@import "navigation.scss";
@import "header.scss";
@import "buttons.scss";

html {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}
